@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Scrolling action */
html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  background-image: url(https://i.gifer.com/82em.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 865px;
  width: 100%;
  z-index: -1;
  /* opacity: .8; */
}

.main {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  align-items: flex-start;
  top: 40%;
  left: 10%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.headings {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  align-items: flex-start;
  margin: 40px 0px;
}

.title {
  color: #fd4766;
  font-size: 30px;
}

.name {
  color: #fd4766;
}

/* Button styling */
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

/* About section */
#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/04/65/8e/04658e1a724c1830587bf1e33930a339.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headings2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
  color: white;
}

#pic {
  display: flex;
  padding: 0px 30px 0px 30px;
}

#pic img {
  width: 575px;
  height: 400px;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
  color: white;
  left: 20px;
}

#intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fd4766;
}

#intro p {
  margin-right: 20px;
}

/* Skills */
#skills {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4.5rem;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  width: 180px;
  height: 180px;
  margin: 10px;
  transition: transform 0.5s ease;
}

.gallery img:hover {
  transform: scale(1.2);
}

/* projects */
.projects {
  background-image: url(https://i.ytimg.com/vi/8GO5dyIiff4/maxresdefault.jpg);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color:#fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: blueviolet ;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: blueviolet;
}

.twitter {
  background: #55acee;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: #bb0000;
  color: white;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}